

# USE JUPYTER BOOK TO BUILD THE BOOK
# https://jupyterbook.org/en/stable/start/overview.html

jupyter-book

# for building with --builder pdfhtml
pyppeteer


# for linting docstrings
#numpydoc
#ruff
